.supplier-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}
header {
  display: flex;
  margin-left: 374px;
  margin-top: 22px;
  height: 50px;
  z-index: 1;
}

.add_btn{
  margin-left: -365px;
  margin-top: 0px;
  margin-right: 250px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  transition: .2s ease-in;
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}

.add_btn:hover{
  background-color: #007bff;
  color: #fff;
  border: none;

}

.scroll_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 8px;
  overflow-y: auto; /* Scroll only vertically */
  width: 1250px;
  height: calc(
    100vh - 100px); /* Take the full height minus the header height */
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.item {
  background: rgb(241, 237, 237);
  border: 1px solid #ddd;
  border-radius: 8px;
  /* padding: 10px; */
  padding-bottom: 10px;
  padding-top: 10px;
  width: 380px;
  height: 310px;
  text-align: center;
}

.item img {
  width: 300px;
  height: 180px;
  border: 1px solid #b83030;
  border-radius: 8px;
}

h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.back-btn {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-btn {
  background-color: #44bef7;
  font-size: medium;
  width: 150px;
  color: white;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.edit-btn {
  background-color: #28a745;
  color: white;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.view_container{
  margin-left: 380px;
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  width: 720px;
  border-radius: 10px;
}

.input_view{
  display: flex;
  padding: 8px;
  margin-bottom: 5px ;
  border: none;
  width: 100%;
  font-weight: 600;
  background-color: transparent;
}
.view_item_img{
  width: 680px;
  height: 420px;
  border: 2px solid black;
  border-radius: 5px;
  background-image: url(../sup_assets/spare_part.jpg);
}

.view_card{
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #f0f0f0;

  p{
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.view_card2{
  padding: 5px;

  textarea{
    width: 100%;
    padding: 5px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
  }
}

.back-btn{
  width: 30%;
  color: #3f8cff;
  font-weight: bold;
  transition: 0.3s ease-in;
}

.back- btn:hover{
  color: #ffffff;
  background-color: #3f8cff;
}

/* //add items form css */
.add_form{
  width: 800px;
  background-color: #f0f0f0;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
  height: 470px;

  h3{
    text-align: center;
    color: #3f8cff;
  }

  a{
    margin-left: 10px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
  }

}

.item_add_div{
  display: flex;
  justify-content: space-between;
}

.left-column, .right-column {
  width: 50%; /* Adjust width to control column size */
  padding: 10px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.right-column label, .left-column label {
  font-weight: bold;
  
}

.right-column input, .left-column input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.right-column{
  button {
    margin-top: 20px;
    width: 98%;
    font-size: medium;
    background-color: #3f8cff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #3f52ff;
  }
}

