



.reports {
    display: flex;
    width: 100%;
}
.report-sec {
    margin: 50px;
    flex: 1;
    min-width:10%;
}

.report-table-sec {
    
    flex: 1;
}

.report-input {
    height: 50px;
    padding: 10px;
}

.report-issue {
    padding: 10px;
}

.report-sum-btn {
    width: 100px;
    height: 30px;
    background-color: var(--dash-side-bg);
    color: #fff;
    border: none;
    border-radius: 30px;
}

.report-sum-btn:hover {
    background-color: #03010e6d;
}

.update-report {
    margin: 10% 20%;
}

